/ean-eic-checking-service/ean-eic-checker-service/ean-eic-checker-service/bin/
/ean-eic-checking-service/ean-eic-checker-service/ean-eic-checker-service.Tests/bin/
/ean-eic-checking-service/ean-eic-checker-service/ean-eic-checker-service/obj/Debug/
/ean-eic-checking-service/ean-eic-checker-service/ean-eic-checker-service.Tests/obj/Debug/