<div id="body">
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>Bohemia Energy</h1>
                <h2>EAN/EIC Validation Service.</h2>
            </hgroup>
            <p>
                This HTTP-based RPC service allows you to validate the EAN and EIC codes.
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">

        <form id="validateEanEicForm" method="post">
            <h3>Validate EAN/EIC Code</h3>
            <p>
                <label for="code">EAN/EIC code:</label>
                <input type="text" name="code" id="codeInputId"/>
            </p>
            <input type="button" id="validateCodeButton" value="Validate" />
        </form>
        <label for="result">Validation result:</label>
        <p id="result"></p>
    </section>
</div>

@section scripts{
    <script type="text/javascript">
        $('#validateCodeButton').click(function () {
            $.ajax({
                type: "POST",
                url: 'api/EanEicCheck',
                dataType: 'json',
                contentType: 'application/json',
                async: false,
                data: JSON.stringify({ code: $("#codeInputId").val() }),
                success: function (value) {
                    $('#result').text(value.Description);
                }
            });
        });
    </script>
}